<div><br><br></div>
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="http:/img/logoevra.jpg" alt="">
		</div>
		<div class="slide">
			<img src="/img/logodrovelis.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logosibilla.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logogynoflor.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LOGOFLUOMIZIN2022.JPG"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LEVOSERTLOGO.png"  alt="">
		</div>
    <div class="slide">
			<img src="http:/img/logoevra.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logodrovelis.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logosibilla.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logogynoflor.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LOGOFLUOMIZIN2022.JPG"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LEVOSERTLOGO.png"  alt="">
		</div>
        <div class="slide">
			<img src="http:/img/logoevra.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logodrovelis.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logosibilla.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/logogynoflor.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LOGOFLUOMIZIN2022.JPG"  alt="">
		</div>
		<div class="slide">
			<img src="/img/LEVOSERTLOGO.png"  alt="">
		</div>
	</div>
</div>
<div><br><br></div>


<br>
<h1 style="text-align:center; font-size: 2.5vh " >Bienvenido a la Fase de Grupos {{nombre}} </h1>
<br>
<h2 style="font-size:1.5vh; margin-left:10%">Su puntuacion:  <b>   {{puntos}} </b></h2>
<h2 style="font-size:1.5vh; margin-left:10%">estas Ubicado en la Posicion: <b> {{posicion}}</b></h2>
<br>
<div style="width: 80%; text-align:center; margin-left:10%">



{{#if notes}}

  <table class="table table-bordered table-primary table-striped-columns  " >
    <thead>
      <tr>

       <th >GRUPO</th>
        <th >FECHA</th>
        <th colspan="2" >EQUIPO </th>
        <th >RESULTADO</th>
        <th colspan="2" >EQUIPO </th>
        <th >RESULTADO</th>
        <th >PUNTOS</th>
        <th  >Accion</th>
      </tr>
    </thead>
    <tbody>
      {{#each notes}}
        <tr>
          <td >{{grupo}}</td>
          <td >{{fecha}}</td>
          <td ><img style="width: 2.1vh"    src="{{mapa1}}" alt=""></td> 
		  <td > {{equipo1}}</td>
          <td >{{pronostico1}}</td>
          <td ><img style="width:2.1vh" src="{{mapa2}}" alt=""></td> 
		  <td >{{equipo2}}</td>
          <td >{{pronostico2}}</td>
          <td >{{puntos}}</td>

          <td><a href="/notes/edit/{{_id}}"><i class="fas fa-pen-alt" style="color: black"></i></a></td>
          
        </tr>
       {{/each}}
    </tbody>
  </table>
{{/if}}
</div>

