<div class="row" style="opacity: 0.8;">

  <div class="col-md-6 mx-auto">
            <br><br>
    <div class="card text-white" style="background-color: #154e9c">

      <div class="card-header pt-5">
        <h4 class="text-center">
          Registro del Usuario
        </h4>

        <form action="/auth/signup" method="POST">
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
      <div class="card-body" style="font-size: 2rem">
          <div class="mb-3">
            <label for="email">Email:</label> 
            <input  type="email"  class="form-control bg-ligth"  name="email"  placeholder="Email"  value="{{email}}" />
          </div>
          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control bg-ligth " name="name" placeholder="Nombre" value="{{name}}"/>
          </div>
          <div class="mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control bg-ligth" name="apellido" placeholder="Primer Apellido" value="{{apellido}}"/>
                              <input class="visually-hidden" type="number" name="puntos" value=0 readonly>
          </div>
                              <div class="mb-3">
            <label for="ciudad">Ciudad:</label>
            <input type="text" class="form-control bg-ligth" name="ciudad" placeholder="ciudad" value="{{ciudad}}" required/>
          </div>
                              <div class="mb-3">
            <label for="celular">Celular:</label>
            <input type="number" class="form-control bg-ligth" name="celular" placeholder="celular" value="{{celular}}" required/>
          </div>
      </div>
  </div>
</div>
              <div class="form-termsAndConditions termsAndConditions" style="color: white;">
                <input type="checkbox" id="termsAndConditions" name="termsAndConditions" onChange="comprobar(this);">
                <label for="termsAndConditions">He leído y acepto los términos y condiciones para el tratamiento de mis datos y uso de la información en: </label>
                <a style="color: white;" href="https://gedeonrichter.com.ec/condiciones-de-uso" target="_blank">https://gedeonrichter.com.ec/condiciones-de-uso </a>
               <a style="color: white;" href="https://gedeonrichter.com.ec/politica-de-privacidad" target="_blank">https://gedeonrichter.com.ec/politica-de-privacidad </a>
                <p class="mensajeError"></p>
              </div>

          <button class="btn btn-success btn-block" style="background-color: #e31e4d;" >
            Registro
          </button>
        </form>
        </form>
      </div>


    </div>
<br><br>
  </div>
</div>